<div class="header">
  <h1 id="headerTitle">My tasks</h1>
  <button title="add" class="addTask" (click)="toggleAddTaskForm(null)">{{ showTaskForm ? 'ⓧ' : '+' }}</button>
</div>
<div class="content">
  <div class="taskForm" *ngIf="showTaskForm">
    <form (ngSubmit)="onSubmit()" [formGroup]="taskForm">
      <input formControlName="id"  hidden>
      <div class="pInput">
        <label>Name</label>
        <input type="text" formControlName="name" required>
      </div>
      <div *ngIf="taskForm?.get('name')?.hasError('required') && submitted">
        <div class="error-message">⛔ Name is required !</div>
      </div>
      <div class="pInput">
        <label>Description</label>
        <textarea formControlName="description"  required></textarea>
      </div>
      <div *ngIf="taskForm?.get('description')?.hasError('required') && submitted">
        <div class="error-message">⛔ Description is required !</div>
      </div>
      <div class="pInput">
        <label>Tags</label>
        <input type="text" formControlName="tags" placeholder="Tags separated by space" required>
      </div>
      <div *ngIf="taskForm?.get('tags')?.hasError('required') && submitted">
        <div class="error-message">⛔ Tags are required !</div>
      </div>
      <div *ngIf="taskForm?.get('tags')?.hasError('tagsLengthError') && submitted">
        <div class="error-message">⛔ Tags must be at least 2 separated by a space !</div>
      </div>
      <div class="pInput">
        <label>Debut date</label>
        <input type="date" formControlName="debutDate"  required>
      </div>
      <div *ngIf="taskForm?.get('debutDate')?.hasError('required') && submitted">
        <div class="error-message">⛔ Debut date is required !</div>
      </div>
      <div *ngIf="taskForm?.get('debutDate')?.hasError('debutDateError') && submitted">
        <div class="error-message">⛔ Debut date can only be three days from now !</div>
      </div>
      <div class="pInput">
        <label>Deadline</label>
        <input type="date" formControlName="deadline" required>
      </div>
      <div *ngIf="taskForm?.get('deadline')?.hasError('required') && submitted">
        <div class="error-message">⛔ Deadline is required !</div>
      </div>
      <div *ngIf="taskForm?.get('deadline')?.hasError('deadlineError') && submitted">
        <div class="error-message">⛔ Deadline must be after debut date !</div>
      </div>
      <div class="pInput">
        <label>Priority</label>
        <select formControlName="priority" required>
          <option value="" disabled selected hidden>Select priority</option>
          <option value="LOW">low</option>
          <option value="MEDIUM">medium</option>
          <option value="MAJOR">major</option>
        </select>
      </div>
      <div *ngIf="taskForm?.get('priority')?.hasError('required') && submitted">
        <div class="error-message">⛔ Priority is required !</div>
      </div>
      <div class="pInput">
        <label>Status</label>
        <select formControlName="status" required>
          <option value="" disabled selected hidden>Select status</option>
          <option value="TODO">to do</option>
          <option value="INPROGRESS">in progress</option>
          <option value="DONE">done</option>
        </select>
      </div>
      <div *ngIf="taskForm?.get('status')?.hasError('required') && submitted">
        <div class="error-message">⛔ Status is required !</div>
      </div>
      <button type="submit">ADD</button>
    </form>
  </div>
  <div *ngIf="!showTaskForm"
       style="display: flex; justify-content: space-between; align-items: flex-start;width: 100%;">
    <div class="tasks" *ngIf="tasksToDo$ | async as tasksTodo">
      <div class="title">
        <h1>TO DO</h1>
      </div>
      <div class="task" *ngFor="let task of tasksTodo">
        <h2>{{ task.name }}</h2>
        <p>{{ task.description }}</p>
        <div class="priority">{{ task.priority.toLowerCase() }}</div>
        <div class="taskActions">
          <button title="delete" class="deleteTask" (click)="deleteTask(task)" ><img src="../../../assets/style/images/delete.png"></button>
          <button title="edit" class="updateTask" (click)="toggleAddTaskForm(task)"><img src="../../../assets/style/images/edit.png"></button>
        </div>
      </div>
      <div class="task" *ngIf="tasksTodo.length==0">
        <h2 style="color: gray; text-align: center">** no tasks **</h2>
      </div>
    </div>
    <div class="tasks" *ngIf="tasksInProgress$ | async as tasksInProgress">
      <div class="title">
        <h1>IN PROGRESS</h1>
      </div>
      <div class="task" *ngFor="let task of tasksInProgress">
        <h2>{{ task.name }}</h2>
        <p>{{ task.description }}</p>
        <div class="priority">{{ task.priority.toLowerCase() }}</div>
        <div class="taskActions">
          <button title="delete" class="deleteTask" (click)="deleteTask(task)" ><img src="../../../assets/style/images/delete.png"></button>
          <button title="edit" class="updateTask" (click)="toggleAddTaskForm(task)"><img src="../../../assets/style/images/edit.png"></button>
        </div>
      </div>
      <div class="task" *ngIf="tasksInProgress.length==0">
        <h2 style="color: gray; text-align: center">** no tasks **</h2>
      </div>
    </div>
    <div class="tasks" *ngIf="tasksDone$ | async as tasksDone">
      <div class="title">
        <h1>DONE</h1>
      </div>
      <div class="task" *ngFor="let task of tasksDone">
        <h2>{{ task.name }}</h2>
        <p>{{ task.description}}</p>
        <div class="priority">{{ task.priority.toLowerCase() }}</div>
        <div class="taskActions">
          <button title="delete" class="deleteTask" (click)="deleteTask(task)" ><img src="../../../assets/style/images/delete.png"></button>
          <button title="edit" class="updateTask" (click)="toggleAddTaskForm(task)"><img src="../../../assets/style/images/edit.png"></button>
        </div>
      </div>
      <div class="task" *ngIf="tasksDone.length==0">
        <h2 style="color: gray; text-align: center">** no tasks **</h2>
      </div>
    </div>
  </div>
</div>
